 <!DOCTYPE html>
<html>
  <head>
    <title>Winperson</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/importer.css">

    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>

  </head>

      <!-- Creates the navbar -->
        
      
          <!-- This creates the mechanism for the collapse button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- This controls the number of lines in the image when the nav collapse -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- This is the brand on the left-hand side. -->
       
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

         
      
      </div>
    </div>

    <!-- job FORM --> 
    <form ng-submit="submitjobForm()" id="job-form" class="form-job" name="job" >
    <div style="background:lightred !important" class="jumbotron">
      <h2 class="form-job-heading">New job</h2>

      <div class="row">
      
      <table class="table">

        <!-- N A M E -->

        <!-- checking whether the form "job" with the "name" property is both $invalid AND $dirty.  If it is
        insert the "has-error" class on the input field (i.e. insert a red border around the input field)
        -->
        
        <tr>

        <div class="control-group form-group col-md-4 col-md-offset-4"
        ng-class="{'has-error':job.name.$invalid &&
                             job.name.$dirty}">
          

          <!-- For this input field make it required, and have a max length of 25 -->
          <input type="text" class="form-control" placeholder="job name" name="name" ng-model="jobForm.name" ng-maxlength="50" required>

          <!-- Also, if job.name.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
          and/or maxlength) -->
          <span class="help-block has-error" ng-if="job.name.$dirty">
            <span ng-show="job.name.$error.required">Name is required.</span>
            <span ng-show="job.name.$error.maxlength">The name cannot be more than 50 characters.</span>
          </span>
        </div>

</tr>
</div>
        <!-- designation -->
<tr>
        <div class="control-group form-group col-md-4 col-md-offset-4"
          ng-class="{'has-error':job.designation.$invalid &&
                                job.designation.$dirty}">
          
          <input type="text" class="form-control" placeholder="Your designation" name="designation" ng-model="jobForm.designation" ng-maxlength="50" required>
          <span class="help-block has-error" ng-if="job.designation.$dirty">
            <span ng-show="job.designation.$error.required">designation is required.</span>
            <span ng-show="job.designation.$error.maxlength">The name cannot be more than 50 characters.</span>
          </span>
        </div>
</tr>
        <!-- expiriance -->

        <div class="control-group form-group col-md-4 col-md-offset-4"
        ng-class="{'has-error':job.expiriance.$invalid &&
                              job.expiriance.$dirty}">
          
          <input type="expiriance" class="form-control" placeholder="Your expiriance address" name="expiriance" ng-model="jobForm.expiriance" required >
          <span class="help-block has-error" ng-if="job.expiriance.$dirty">
            <span ng-show="job.expiriance.$error.required">expiriance address is required.</span>
            <span ng-show="job.expiriance.$error.expiriance">Not a valid expiriance address.</span>
          </span>
        </div>

          <!-- salary -->

        <div class="control-group form-group col-md-4 col-md-offset-4"
          ng-class="{'has-error':job.salary.$invalid &&
                                job.salary.$dirty}">
          
          <input type="text" class="form-control" placeholder="Your salary" name="salary" ng-model="jobForm.salary" ng-maxlength="50" required>
          <span class="help-block has-error" ng-if="job.salary.$dirty">
            <span ng-show="job.salary.$error.required">salary is required.</span>
            <span ng-show="job.salary.$error.maxlength">The name cannot be more than 50 characters.</span>
          </span>
        </div>
        
       
    <div class="control-group form-group col-md-4 col-md-offset-4">
       <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="job.$invalid">
        <span ng-show="!jobForm.loading">Next</span>
      </button>
      </div>
    </form>