<div class="container-fluid">

      <!-- Creates the navbar -->
     
      
          <!-- This creates the mechanism for the collapse button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- This controls the number of lines in the image when the nav collapse -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- This is the brand on the left-hand side. -->
          <a class="navbar-brand" href="/#">Winperson</a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

         
    
      </div>
    </div>

    <!-- question FORM --> 
    <form ng-submit="submitquestionForm()" id="question-form" class="form-question" question="question">
    <div class="jumbotron">
      
      <div class="row">

        <!--question -->

        <!-- checking whether the form "question" with the "question" property is both $invalid AND $dirty.  If it is
        insert the "has-error" class on the input field (i.e. insert a red border around the input field)
        -->
        <div class="control-group form-group col-md-4 col-md-offset-4"
        ng-class="{'has-error':question.question.$invalid &&
                             question.question.$dirty}">
          

          <!-- For this input field make it required, and have a max length of 25 -->
          <textarea type="text" class="form-control" placeholder="write your questions here" question="question" ng-model="questionForm.question"  required>

          
          </textarea>
        </div>
        <div class="control-group form-group col-md-4 col-md-offset-4"
        ng-class="{'has-error':question.timeForQuestion.$invalid &&
                              question.timeForQuestion.$dirty}">
          <label>Time Per Questions</label>
          <input type="timeForQuestion" class="form-control" placeholder="Time Per Questions" name="timeForQuestion" ng-model="questionForm.timeForQuestion" required >
          <span class="help-block has-error" ng-if="question.timeForQuestion.$dirty">
            <span ng-show="question.timeForQuestion.$error.required">timePerQues  is required.</span>
            <span ng-show="question.timeForQuestion.$error.timeForQuestion">Not a valid timePerQues .</span>
          </span>
        </div>

        <!-- Question Per Test -->

        <div class="control-group form-group col-md-4 col-md-offset-4"
        ng-class="{'has-error':question.totalQuestion.$invalid &&
                              question.totalQuestion.$dirty}">
          <label>Question Per Test</label>
          <input type="totalQuestion" class="form-control" placeholder="Question Per Test" name="totalQuestion" ng-model="questionForm.totalQuestion" required >
          <span class="help-block has-error" ng-if="question.totalQuestion.$dirty">
            <span ng-show="question.totalQuestion.$error.required">quesPerTest  is required.</span>
            <span ng-show="question.totalQuestion.$error.totalQuestion">Not a valid quesPerTest.</span>
          </span>
        </div>
              
<div class="control-group form-group col-md-4 col-md-offset-4">
       <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="question.$invalid">
        <span ng-show="!questionForm.loading">Next</span>
      </button>
      </div>
      </div>
    </form>
